header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  .header-container {
    display: flex;
    height: 80px;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #3699ff;
    @media screen and (max-width: 720px) {
      padding: 0px 10px;
    }
    h2 {
      font-size: 24px;
      font-weight: 400;
      font-family: 'Prompt', sans-serif;
      @media screen and (max-width: 720px) {
        visibility: hidden;
        font-size: 10px;
      }
    }
    button {
      border: 0;
      font-size: 14px;
      height: 40px;
      text-align: center;
      cursor: pointer;
      // color: #3699ff;
      color: #fff;
      background-color: #3699ff;
      border-color: transparent;
      min-width: 80px;
      padding: 0 15px;
      border-radius: 7px;
    }
    button.danger {
      color: white;
      background-color: #f64e60;
      margin-left: 20px;
    }
  }
  
}