header {
  display: flex;
  height: 100px;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
  background-color: purple;
  color: white;
  font-size: 30px;
  button {
    border: 0;
    background-color: white;
    font-size: 20px;
    color: purple;
    width: 120px;
    height: 40px;
    text-align: center;
  }
}