.locationItem {
  display: flex;
  min-height: 80px;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  border: 2px solid purple;
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
  .latitude-longitude-container {
    display: flex;
    p {
      margin-right: 10px;
      font-size: 20px;
    }
  }
  .address {
    font-size: 18px;
  }
}