.locationItem {
  display: flex;
  position: relative;
  min-height: 50px;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
  border: 0;
  background-color: white;
  border-radius: 5px;
  padding: 20px 30px;
  cursor: pointer;
  .latitude-longitude-container {
    display: flex;
    p {
      margin-right: 10px;
      font-size: 18px;
      color: #181c32;
    }
  }
  .address {
    font-size: 18px;
  }
  button {
    position: absolute;
    font-size: 9px;
    text-transform: uppercase;
    height: 20px;
    padding: 3px 10px;
    color: #f64e60;
    background-color: #ffe2e5;
    top: 8px;
    right: 5px;
    border: 0;
    outline: 0;
    border-radius: 3px;
    cursor: pointer;
  }
}