
.list-details-container {
  min-height: 100vh;
  h2 {
    font-size: 25px;
    margin: 20px 15px;
  }
  .listAndMapContainer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    @media screen and (max-width: 720px) {
      flex-direction: column-reverse;
    }
    > div {
      flex: 1;
      height: 100%;
      .padding-10 {
        padding: 10px;
      }
      @media screen and (max-width: 720px) {
        width: 100%;
        flex: none;
      }
    }
  }
}