<div class="modalContainer" *ngIf="openForm">
  <div class="modalBackDrop"></div>
    <div class="dialogContainer">
      <div class="modalDialog">
        <div class="modalContent">
          <div class="modalHeader">
            <div class="modalTitle">
              <h4 class="modalTitleText">
                Add Location
              </h4>
            </div>
          </div>
          <div class="modalBody">
            <div class="cont_principal">
              <div class="cont_centrar">
                <div class="cont_login">
                  <form onsubmit="return false;">
                    <div class="cont_text_inputs">
                      <input type="text" required class="input_form_sign d_block active_inp"  placeholder="ADDRESS" (input)="onChangeText($event)" name="address" [value]="address" />            
                      <input type="number" required class="input_form_sign d_block active_inp" placeholder="LATITUDE" (input)="onChangeText($event)" name="latitude" [value]="latitude" />
                      <input type="number" required class="input_form_sign d_block active_inp"  placeholder="LONGITUDE" (input)="onChangeText($event)" name="longitude" [value]="longitude" />
            
                    </div>
                    <div class="cont_btn">
                      <button type="cancel" class="btn_sign cancel" style="margin-right: 10px;" (click)="cancel()">Cancel</button>
                      <button class="btn_sign" (click)="submit_address()">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>